In [1]:
import pandas as pd, numpy as np

In [2]:
import requests
import pandas as pd
import numpy as np
import mysql.connector
import sqlalchemy

from datetime import datetime, timedelta
from pandas_market_calendars import get_calendar

In [3]:
polygon_api_key = "KkfCQ7fsZnx0yK4bhX9fD81QplTh0Pf3"
calendar = get_calendar("NYSE")
date = calendar.schedule(start_date = (datetime.today()-timedelta(days=10)), end_date = datetime.today()).index.strftime("%Y-%m-%d").values[-1]

all_stocks_1 = requests.get(f"https://api.polygon.io/v3/reference/tickers?type=CS&market=stocks&active=true&order=asc&sort=ticker&limit=1000&apiKey={polygon_api_key}").json()
all_stocks_2 = requests.get(f"{all_stocks_1['next_url']}&apikey={polygon_api_key}").json()
all_stocks_3 = requests.get(f"{all_stocks_2['next_url']}&apikey={polygon_api_key}").json()
all_stocks_4 = requests.get(f"{all_stocks_3['next_url']}&apikey={polygon_api_key}").json()
all_stocks_5 = requests.get(f"{all_stocks_4['next_url']}&apikey={polygon_api_key}").json()
all_stocks_6 = requests.get(f"{all_stocks_5['next_url']}&apikey={polygon_api_key}").json()

In [6]:
stock_list = [all_stocks_1, all_stocks_2, all_stocks_3, all_stocks_4, all_stocks_5, all_stocks_6]
available_stock_list = []

for stock_data in stock_list:
    available_stocks  = pd.json_normalize(stock_data["results"])
    available_stock_list.append(available_stocks)
                                
total_available_stocks = pd.concat(available_stock_list)

In [7]:
total_available_stocks

,ticker,name,market,locale,primary_exchange,type,active,currency_name,cik,composite_figi,share_class_figi,last_updated_utc
0,A,Agilent Technologies Inc.,stocks,us,XNYS,CS,True,usd,0001090872,BBG000C2V3D6,BBG001SCTQY4,2024-01-12T00:00:00Z
1,AA,Alcoa Corporation,stocks,us,XNYS,CS,True,usd,0001675149,BBG00B3T3HD3,BBG00B3T3HF1,2024-01-12T00:00:00Z
2,AACI,Armada Acquisition Corp. I Common Stock,stocks,us,XNAS,CS,True,usd,0001844817,BBG011XR7306,BBG011XR7315,2024-01-12T00:00:00Z
3,AACT,Ares Acquisition Corporation II,stocks,us,XNYS,CS,True,usd,0001853138,NaN,NaN,2024-01-12T00:00:00Z
4,AADI,"Aadi Bioscience, Inc. Common Stock",stocks,us,XNAS,CS,True,usd,0001422142,BBG002WN7DT2,BBG002WN7DV9,2024-01-12T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...
329,ZVRA,"Zevra Therapeutics, Inc. Common Stock",stocks,us,XNAS,CS,True,usd,0001434647,BBG0026ZG1F5,BBG0026ZG1G4,2024-01-12T00:00:00Z
330,ZVSA,"ZyVersa Therapeutics, Inc. Common Stock",stocks,us,XNAS,CS,True,usd,0001859007,BBG01137LPK6,BBG01137LQD2,2024-01-12T00:00:00Z
331,ZWS,Zurn Elkay Water Solutions Corporation,stocks,us,XNYS,CS,True,usd,0001439288,BBG000H8R0N8,BBG001T36GB5,2024-01-12T00:00:00Z
332,ZYME,Zymeworks Inc.,stocks,us,XNAS,CS,True,usd,0001937653,BBG019XSYC89,BBG019XSYC98,2024-01-12T00:00:00Z
333,ZYXI,ZYNEX INC,stocks,us,XNAS,CS,True,usd,0000846475,BBG000BJBXZ2,BBG001S7T7V0,2024-01-12T00:00:00Z

In [8]:
tickers = total_available_stocks["ticker"].values
valid_tickers = []

for ticker in tickers:
    ticker_call_contracts = pd.json_normalize(requests.get(f"https://api.polygon.io/v3/reference/options/contracts?underlying_ticker={ticker}&contract_type=call&as_of={date}&expired=false&limit=1000&apiKey={polygon_api_key}").json()["results"])
    
    if len(ticker_call_contracts) < 1:
        continue
    
    expiration_dates = ticker_call_contracts["expiration_date"].drop_duplicates().values
    
    if len(expiration_dates) < 3:
        continue
    
    days_between = (pd.to_datetime(expiration_dates[2]) - pd.to_datetime(expiration_dates[1])).days
    
    if days_between != 7:
        continue
    elif days_between == 7:
        valid_tickers.append(ticker)

In [13]:
complete_valid_tickers = pd.DataFrame({"tickers": valid_tickers})

In [14]:
complete_valid_tickers

    tickers
0        AA
1       AAL
2      AAOI
3       AAP
4      AAPL
..      ...
472      ZI
473     ZIM
474    ZION
475      ZM
476      ZS

[477 rows x 1 columns]

In [17]:
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:password@localhost:3306/finance')

In [18]:
complete_valid_tickers.to_sql("weekly_option_tickers", con=engine, if_exists="replace")

477

In [20]:
complete_valid_tickers.to_parquet('complete_valid_tickers.parquet')